@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --primaryColor : #007AFF;
  --secondaryColor : #1A3452;
  --darkColor1 : #171A1F;
  --darkColor2 : #1E252D;
  --lightColor : #EAEAEA;
  --greyColor : #8E8E8E;
}

*{
  font-family: 'Poppins', sans-serif;
}

body, .form-control, .btn-primary{
  font-size: 14px !important;
}

.btn-dark, .btn-danger{
  font-size: 12px !important;
  padding: 4px 8px !important;
}

.name{
  font-size: 16px;
  font-weight: 500;
}

.telp{
  font-size: 14px;
}